* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(34, 39, 29);
    font-family: sans-serif;
}



.card {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px auto;
    margin: 20% auto;
    padding-top: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.timer-box {
    border: 2px solid black;
    border-radius: 3px;
    background: white;
    padding: 10px;
}

#timer {
    padding: 30px;
}

.code-title {
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
}

.text {
    padding-bottom: 20px;
    font-size: 30px;
}

#question-answers {
    display: inline-block;
    background-color: none;
    width: 60%;
    padding: 50px auto;
}

.btn-block {
    border: 3px dotted gray;
    background: gray;
    border-radius: 5px;
}

.btn-block:hover:focus {
    background: green;
}

#info {
    padding: 20px 0;
    font-weight: bold;
    font-size: 25px
}

.btnstart {
    padding: 10px;
}

.btn {
    background: rgb(100, 100, 35);
    padding-bottom: 4px;
}

.btn:hover {
    background: rgb(214, 130, 144);
    color: white;
    transition: 0.3s ease-in;
}

.start {
    padding: 10px;
    font-size: 1.5em;
}


/* submit button css */

strong {
    font-size: 25px;
    padding-right: 17px;
}

.form-control {
    padding-left: 30px;
}

.score {
    display: inline-block;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnScore {
    padding-left: auto;
}

.submit-button {
    padding-bottom: 10px;
    padding-left: 20px;

}

.code-title {
    padding-left: 53px;
    font-weight: bold;
}

/* .btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
} */